@charset "utf-8";

/*  =========================
    Name: Elizabeth Sherwood
	Date: October 28, 2024
	Assignment: My Schedule
	File Name: style.css
    =========================
*/

/*  ============
    Main Styles:
    ============
*/
header {
    font-size: 4em;
}

footer {
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    font-size: 1em;
    font-variant: small-caps;
    line-height: 2em;
    padding-left: 1%;
}

body {
    text-align: center;
    background-color: white;
    margin: 5%;
    font-family: 'Times New Roman', Times, serif;
}

/*  =============
    Table Styles:
    =============
*/

table {
    border-top: 1px solid grey;
}

th {
    font-weight: bold;
    font-size: 1.5em;
}

td {
    border: 1px solid grey;
    border-radius: 10px;
    width: 25em;
    height: 5em;
    background-color: whitesmoke;
    box-shadow: 1px 1px grey;
}



/*  ==================
    Navigation Styles:
    ==================
*/

/*  =================
    Container Styles:
    =================
*/